* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    /* It align everything that doent have a width set */

    /* Use web safe fonts so almost everyos can render it use css font stack to use fallbacks
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */

    /* To ensure all viewers get same niceview use google fonts and embbed them in head */
    font-family: 'Merriweather', serif;

}

/* h1 {
    ( "The single above statement will distort our web: . we will use margin auto as below to align in horizontal center since we included width we have to recenter it")

    width: 10%;
    margin: 0 auto;
} */
h1 {
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

div {
    background-color: #b3f8e9;
}

.top {
    background-color: #b3f8e9;
    position: relative;
    padding: 100px;
}

.middle {
    background-color: #d3f8b3;
    height: 200px;
    width: 200px;
}

.bottom {
    background-color: #a7d7f5;
    height: 200px;
    width: 200px;
}

.graduate {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud {
    position: absolute;
    /* since it is child of top container we will now make it parent position relative i.e. top  */
    left: 300px;
    bottom: 300px;
}

/* to hide elements we have two things i.e display none and visibility hidden , visibility hidden keep the positon reserve but the same does not hold for display none */