* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

.divs {
    display: inline-flex;
    padding: 30px 30px;
    margin: 63px 10px;
    /* border-radius: ; */
}

.imgs {
    height: 300px;
    background-color: transparent;
}