body {
    background-color: #aafab7;
}

hr {
    /* background-color: rgb(0, 0, 0); */
    border-color: black;
    border-style: dotted none none;
    border-width: 3.5px;
    width: 10%;
}

h3 {
    color: #66bfbf;
}

h1 {
    color: #eff0f0;
}