* {
    margin: 0;
    padding: 0;
}

div {
    background-color: #b3f8e9;
}

/* In absolute positioning we are positioning child element with respect to parent i.r div or block not with entire page it affect other component of the div / block */
.container {
    position: relative;
    background-color: rgb(43, 222, 222);
    height: 300px;
    width: 300px;
}

.red {
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
}

.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.green {
    background-color: greenyellow;
    height: 100px;
    width: 100px;
    position: absolute;
}

.fix {
    background-color: rgb(220, 60, 60);
    /* This will fix it position on the web page  */
    position: fixed;
    height: 50px;
    width: 50px;
}